<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="crephotoseditor.valentinephotoeditor">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="crephotoseditor.valentinephotoeditor.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="crephotoseditor.valentinephotoeditor.notiOS.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="crephotoseditor.valentinephotoeditor.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                tools:replace="android:resource"
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="crephotoseditor.valentinephotoeditor.act.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="crephotoseditor.valentinephotoeditor.act.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name="crephotoseditor.valentinephotoeditor.act.ShowPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="crephotoseditor.valentinephotoeditor.act.FullImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="crephotoseditor.valentinephotoeditor.act.LeaveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="crephotoseditor.valentinephotoeditor.act.MyWorkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="crephotoseditor.valentinephotoeditor.act.SaveandShareActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="crephotoseditor.valentinephotoeditor.act.FrameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="crephotoseditor.valentinephotoeditor.act.EditImageActivity"
            android:screenOrientation="portrait" />

        <receiver android:name="crephotoseditor.valentinephotoeditor.Glob.ConnectivityChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <!-- Fb and Admob -->


        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <!-- Fb and Admob -->

        <!-- One Signal start -->

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <service
            android:name="crephotoseditor.valentinephotoeditor.notiOS.RegistrationIntentService"
            android:exported="false" />

        <service
            android:name="crephotoseditor.valentinephotoeditor.notiOS.CustomNotificationExtender"
            android:permission="android.permission.BIND_JOB_SERVICE">

            <intent-filter>

                <action android:name="com.onesignal.NotificationExtender" />

            </intent-filter>

        </service>

        <!-- One Signal over -->
    </application>

</manifest>